<!DOCTYPE html>
<html>
<head>
    <title>Warehouse Component List</title>
</head>
<body>
    <h1>Component List</h1>
    <table>
        <tr>
            <th>Component Name</th>
            <th>Component Quantity</th>
        </tr>
        {% for component in components %}
        <tr>
            <td>{{ component.name }}</td>
            <td>{{ component.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
<script>
    var socket = new WebSocket("ws://" + window.location.host + "/ws/component_updates/");

    socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        // Handle updates here
        console.log(data);
    };

    socket.onclose = function(e) {
        console.error("Socket closed:", e);
    };
</script>